<a href="https://www.kaggle.com/code/osmanacar/amazon-rating-products-sorting-reviews?scriptVersionId=187685052" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

**Business Problem**

One of the most important problems in e-commerce calculating the given points that after selling process. The solving is more satisfaction to customer, prominence product for seller, smooth shopping experience and prevent for misleading comments. 

**Dataset Information**

In this dataset including electronic categories has most receive comment product and comments

**Variables**

* reviewerID - ID of the reviewer, e.g. A2SUAM1J3GNN3B
* asin - ID of the product, e.g. 0000013714
* reviewerName - name of the reviewer
* helpful - helpfulness rating of the review, e.g. 2/3
* reviewText - text of the review
* overall - rating of the product
* summary - summary of the review
* unixReviewTime - time of the review (unix time)
* reviewTime - time of the review
* day_diff - Number of days since evaluation
* helpful_yes - Useful evaluation count
* total_vote - Total evaluation count

In [1]:
import pandas as pd
import math
import scipy.stats as st
from sklearn.preprocessing import MinMaxScaler

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.set_option("display.width", 500)
pd.set_option("display.expand_frame_repr", False)
pd.set_option("display.float_format", lambda x: "%.5f" % x)

In [2]:
df = pd.read_csv("/kaggle/input/amazon/amazon_review.csv")
df.head()

       reviewerID        asin  reviewerName helpful                                         reviewText  overall                                 summary  unixReviewTime  reviewTime  day_diff  helpful_yes  total_vote
0  A3SBTW3WS4IQSN  B007WTAJTO           NaN  [0, 0]                                         No issues.  4.00000                              Four Stars      1406073600  2014-07-23       138            0           0
1  A18K1ODH1I2MVB  B007WTAJTO          0mie  [0, 0]  Purchased this for my device, it worked as adv...  5.00000                           MOAR SPACE!!!      1382659200  2013-10-25       409            0           0
2  A2FII3I2MBMUIA  B007WTAJTO           1K3  [0, 0]  it works as expected. I should have sprung for...  4.00000               nothing to really say....      1356220800  2012-12-23       715            0           0
3   A3H99DFEG68SR  B007WTAJTO           1m2  [0, 0]  This think has worked out great.Had a diff. br...  5.00000  Great buy at this price!!!  *** UPDATE      1384992000  2013-11-21       382            0           0
4  A375ZM4U047O79  B007WTAJTO  2&amp;1/2Men  [0, 0]  Bought it with Retail Packaging, arrived legit...  5.00000                        best deal around      1373673600  2013-07-13       513            0           0

In [3]:
df.shape

(4915, 12)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4915 entries, 0 to 4914
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   reviewerID      4915 non-null   object
 1   asin            4915 non-null   object
 2   reviewerName    4914 non-null   object
 3   helpful         4915 non-null   object
 4   reviewText      4914 non-null   object
 5   overall         4915 non-null   float64
 6   summary         4915 non-null   object
 7   unixReviewTime  4915 non-null   int64
 8   reviewTime      4915 non-null   object
 9   day_diff        4915 non-null   int64
 10  helpful_yes     4915 non-null   int64
 11  total_vote      4915 non-null   int64
dtypes: float64(1), int64(4), object(7)
memory usage: 460.9+ KB

In [5]:
df.describe().T

                    count             mean            std              min              25%              50%              75%              max
overall        4915.00000          4.58759        0.99685          1.00000          5.00000          5.00000          5.00000          5.00000
unixReviewTime 4915.00000 1379465001.66836 15818574.32275 1339200000.00000 1365897600.00000 1381276800.00000 1392163200.00000 1406073600.00000
day_diff       4915.00000        437.36704      209.43987          1.00000        281.00000        431.00000        601.00000       1064.00000
helpful_yes    4915.00000          1.31109       41.61916          0.00000          0.00000          0.00000          0.00000       1952.00000
total_vote     4915.00000          1.52146       44.12309          0.00000          0.00000          0.00000          0.00000       2020.00000

In [6]:
df["day_diff"].quantile([.20, .40, .60, .80,])

0.20000   248.00000
0.40000   361.00000
0.60000   497.40000
0.80000   638.00000
Name: day_diff, dtype: float64

In [7]:
# We calculated mean according to quantile values. Values are decreasing through to time
print(df.loc[(df["day_diff"] <= 248), "overall"].mean())
print(df.loc[(df["day_diff"] > 248) & (df["day_diff"] <= 361), "overall"].mean())
print(df.loc[(df["day_diff"] > 361) & (df["day_diff"] <= 497), "overall"].mean())
print(df.loc[(df["day_diff"] > 497) & (df["day_diff"] > 638), "overall"].mean())
print(df.loc[(df["day_diff"] > 638), "overall"].mean())

4.680203045685279
4.691683569979716
4.578732106339468
4.4346938775510205
4.4346938775510205

In [8]:
# Time Based Weighted Average

def time_based_weighted_average(dataframe, w1=30, w2=25, w3=20, w4=15, w5=10):
    return dataframe.loc[(df["day_diff"] <= 248), "overall"].mean() * w1 / 100 + \
        dataframe.loc[(df["day_diff"] > 248) & (df["day_diff"] <= 361), "overall"].mean() * w2 / 100 + \
        dataframe.loc[(df["day_diff"] > 361) & (df["day_diff"] <= 497), "overall"].mean() * w3 / 100 + \
        dataframe.loc[(df["day_diff"] > 497) & (df["day_diff"] > 638), "overall"].mean() * w4 / 100 + \
        dataframe.loc[(df["day_diff"] > 638), "overall"].mean() * w5 / 100

time_based_weighted_average(df)

4.601401696856162

In [9]:
# We are creating new value as "helpful_no"
# Dataset says helpful_no is calculating as total_vote - helpful_yes
df["helpful_no"] = df["total_vote"] - df["helpful_yes"]

In [10]:
df.head()

       reviewerID        asin  reviewerName helpful                                         reviewText  overall                                 summary  unixReviewTime  reviewTime  day_diff  helpful_yes  total_vote  helpful_no
0  A3SBTW3WS4IQSN  B007WTAJTO           NaN  [0, 0]                                         No issues.  4.00000                              Four Stars      1406073600  2014-07-23       138            0           0           0
1  A18K1ODH1I2MVB  B007WTAJTO          0mie  [0, 0]  Purchased this for my device, it worked as adv...  5.00000                           MOAR SPACE!!!      1382659200  2013-10-25       409            0           0           0
2  A2FII3I2MBMUIA  B007WTAJTO           1K3  [0, 0]  it works as expected. I should have sprung for...  4.00000               nothing to really say....      1356220800  2012-12-23       715            0           0           0
3   A3H99DFEG68SR  B007WTAJTO           1m2  [0, 0]  This think has worked out great.Had a diff. br...  5.00000  Great buy at this price!!!  *** UPDATE      1384992000  2013-11-21       382            0           0           0
4  A375ZM4U047O79  B007WTAJTO  2&amp;1/2Men  [0, 0]  Bought it with Retail Packaging, arrived legit...  5.00000                        best deal around      1373673600  2013-07-13       513            0           0           0

# *We have 3 way calculating for rating sorting.*

**1 - Up - Down Difference Score = (up ratings) - (down ratings)**

**2- Score = Average Rating = (up ratings) / (all ratings)**

**3- Wilson Lower Bound**

In [11]:
# Up - Down Difference Score = (up ratings) - (down ratings)

def score_up_down_diff(up, down):
    return up - down

# Score = Average Rating = (up ratings) / (all ratings)

def score_average_rating(up, down):
    if up + down == 0:
        return 0
    return up / (up + down)

# Wilson Lower Bound Score
def wilson_lower_bound(up, down, confidence=0.95):
    n = up + down
    if n == 0:
        return 0
    z = st.norm.ppf(1-(1-confidence) / 2)
    phat = 1.0 * up / n
    return (phat + z * z / (2 * n) - z *
                                math.sqrt((phat * (1 - phat) + z * z / (4 * n)) / n)) / (1 + z * z / n)

In [12]:
score = pd.DataFrame({"up": df["helpful_yes"], "down": df["helpful_no"]})

score["score_pos_neg_diff"] = score.apply(lambda x: score_up_down_diff(x["up"], x["down"]), axis=1)

score["score_average_rating"] = score.apply(lambda x: score_average_rating(x["up"], x["down"]), axis=1)

score["wilson_lower_bound"] = score.apply(lambda x: wilson_lower_bound(x["up"], x["down"]), axis=1)

In [13]:
new_df = pd.concat([df, score], axis=1)

In [14]:
new_df.sort_values("wilson_lower_bound", ascending=False).head(10)

          reviewerID        asin                 reviewerName       helpful                                         reviewText  overall                                            summary  unixReviewTime  reviewTime  day_diff  helpful_yes  total_vote  helpful_no    up  down  score_pos_neg_diff  score_average_rating  wilson_lower_bound
2031  A12B7ZMXFI6IXY  B007WTAJTO         Hyoun Kim "Faluzure"  [1952, 2020]  [[ UPDATE - 6/19/2014 ]]So my lovely wife boug...  5.00000  UPDATED - Great w/ Galaxy S4 & Galaxy Tab 4 10...      1367366400  2013-01-05       702         1952        2020          68  1952    68                1884               0.96634             0.95754
3449   AOEAD7DPLZE53  B007WTAJTO            NLee the Engineer  [1428, 1505]  I have tested dozens of SDHC and micro-SDHC ca...  5.00000  Top of the class among all (budget-priced) mic...      1348617600  2012-09-26       803         1428        1505          77  1428    77                1351               0.94884             0.93652
4212   AVBMZZAFEKO58  B007WTAJTO                  SkincareCEO  [1568, 1694]  NOTE:  please read the last update (scroll to ...  1.00000  1 Star reviews - Micro SDXC card unmounts itse...      1375660800  2013-05-08       579         1568        1694         126  1568   126                1442               0.92562             0.91214
317   A1ZQAQFYSXL5MQ  B007WTAJTO      Amazon Customer "Kelly"    [422, 495]  If your card gets hot enough to be painful, it...  1.00000                                Warning, read this!      1346544000  2012-02-09      1033          422         495          73   422    73                 349               0.85253             0.81858
4672  A2DKQQIZ793AV5  B007WTAJTO                      Twister      [45, 49]  Sandisk announcement of the first 128GB micro ...  5.00000  Super high capacity!!!  Excellent price (on Am...      1394150400  2014-07-03       158           45          49           4    45     4                  41               0.91837             0.80811
1835  A1J6VSUM80UAF8  B007WTAJTO                  goconfigure      [60, 68]  Bought from BestBuy online the day it was anno...  5.00000                                           I own it      1393545600  2014-02-28       283           60          68           8    60     8                  52               0.88235             0.78465
3981  A1K91XXQ6ZEBQR  B007WTAJTO   R. Sutton, Jr. "RWSynergy"    [112, 139]  The last few days I have been diligently shopp...  5.00000  Resolving confusion between "Mobile Ultra" and...      1350864000  2012-10-22       777          112         139          27   112    27                  85               0.80576             0.73214
3807   AFGRMORWY2QNX  B007WTAJTO                   R. Heisler      [22, 25]  I bought this card to replace a lost 16 gig in...  3.00000   Good buy for the money but wait, I had an issue!      1361923200  2013-02-27       649           22          25           3    22     3                  19               0.88000             0.70044
4306   AOHXKM5URSKAB  B007WTAJTO                Stellar Eller      [51, 65]  While I got this card as a "deal of the day" o...  5.00000                                      Awesome Card!      1339200000  2012-09-06       823           51          65          14    51    14                  37               0.78462             0.67033
4596  A1WTQUOQ4WG9AI  B007WTAJTO  Tom Henriksen "Doggy Diner"     [82, 109]  Hi:I ordered two card and they arrived the nex...  1.00000     Designed incompatibility/Don't support SanDisk      1348272000  2012-09-22       807           82         109          27    82    27                  55               0.75229             0.66359